<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.My.MyntraScripts.Verify_the_orders_page_without_order_anything"/>
      <class name="com.My.MyntraScripts.Add_any_product_to_wishlist"/>
      <class name="com.My.MyntraScripts.Verify_the_user_is_able_to_check_the_bag"/>
      <class name="com.My.MyntraScripts.Verify_the_user_is_able_to_get_the_inventory_count_of_the_particular_product"/>
      <class name="com.My.MyntraScripts.Verify_user_is_able_to_login_through_google_account"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
